@model Registro

<h1>Registre el Producto que Desea Comprar </h1>


<div asp-validation-summary="All"></div>

<form action="" method="post">

<div class="form-group">
        <label >Nombre Del Producto:</label>
        <input asp-for="Nombre_del_Producto" class="form-control">
    </div>

    <div class="form-group">
        <label > Url de la Foto del  Producto:</label>
        <input asp-for="Url_Producto" class="form-control">
    </div>

    <div class="form-group">
        <label > Descripción:</label>
        <input asp-for="Descripcion" class="form-control">
    </div>

    <div class="form-group">
        <label > Precio:</label>
        <input asp-for="Precio" class="form-control">
    </div>

    <div class="form-group">
        <label > Celular:</label>
        <input asp-for="Celular" class="form-control">
    </div>

    <div class="form-group">
        <label > Dirección de la Compra:</label>
        <input asp-for="Lugar_De_Compra" class="form-control">
    </div>

    <div class="form-group">
        <label > Nombre del Usuario:</label>
        <input asp-for="Nombre" class="form-control">
    </div>


    <div class="form-group  text-center" >
       <button class="btn btn-primary">Enviar</button>
    </div>

</form>